# Ignore Virtual Environment
venv/

# Ignore Python Cache
__pycache__/
*.pyc

# Ignore External Tools (Binaries)
tools/*.exe
tools/*.zip

# Ignore Generated Reports
*.pdf

# Ignore Database Data (If local)
data/